/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
        color: var(--color-hover);
    }
}

.dropdown_container {
    position: relative !important;
    width: 100%;

    .dropdown_button {
        width: 100%;
        font-size: inherit;
    }

    .dropdown_list {
        width: 100%;
        position: absolute !important;
        z-index: 1000;
    }

    .dropdown_list-element {
        &:hover {
            cursor: pointer;
        }
    }
}

.hidden {
    opacity: 0;
}

.visibility {
    opacity: 1;
}

.dNone {
    display: none !important;
}

.dBlock {
    display: block !important;
}