.container {
    position: relative;
    width: 80%;
    height: fit-content;
    display: flex;
    gap: 20px;
    padding: 100px 40px 40px 40px;
    box-sizing: border-box;
}

.bg {
    position: absolute;
    width: 100%;
    top: 25px;
    left: 0;
    right: 0;
    height: 225px;
    border: 4px solid var(--block-color);
    border-radius: 20px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 600;
    background-image: url('../../config/imgs/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    display: flex;
    align-items: center;
    gap: 10px !important;
    position: relative;
    width: min-content;
    box-sizing: border-box;
}

.avatar {
    display: flex;
    width: 300px;
    aspect-ratio: 1 / 1;
    border: 4px solid var(--block-color);
    background: var(--background-color);
    border-radius: 50%;
    box-sizing: border-box;
}

.social_media {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.social {
    display: flex;
    width: 32px;
    aspect-ratio: 1 / 1;
    fill: var(--social_media-fill);
    padding: 8px;
    border: 2px solid var(--social_media-bg);
    border-radius: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    position: relative;
    display: flex;
    width: 120px;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    svg {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        inset: 0 0 0 0;
    }

    .skill_name {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        inset: 0 0 0 0;
        font-weight: 600;
    }

    .skill_percent {
        position: absolute;
        left: 50%;
        bottom: 5px;
        translate: -50% -50%;
        font-weight: 600;
    }
}

.project {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_desc {
    padding-top: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p10 {
    padding-left: 10px;
}

.progress_bar {
    stroke: var(--progress_bar-color);
}

.progress_bar-fill {
    stroke: var(--progress_bar_fill-color);
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-inline: 0;
    }

    .user_desc {
        padding: 0;
    }

    .skills {
        justify-content: center;
    }

    .skills_container {
        h2 {
            display: none;
        }
    }
}