input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    border: 1px solid var(--block-color);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}

.form_info {
    min-width: 400px;
    padding: 20px;
}

.step {
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: end;
    min-height: 100%;

    h3 {
        width: 100%;
    }
}

.input_title {
    text-align: center;
}

.input_container {
    width: 100%;
    display: flex;

    input {
        outline: none;
        background: none;
        border: none;
        border-bottom: 1px solid var(--block-color);
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .input_file {
        background: none;
        border: 1px solid var(--block-color);
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }
    }

    textarea{
        outline: none;
        resize: vertical;
        background: none;
        border: 1px solid var(--block-color);
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
}

.input_button {
    background: none;
    border: 1px solid var(--block-color);
    border-radius: 5px;
    padding: 5px 50px;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--block-color);
    width: fit-content;
    min-width: 350px;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;

    .description {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .main_description {
            text-align: center;
        }
    }
}

.button_space {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: auto;
}

.button {
    font-size: inherit;
    background: var(--text-color);
    color: var(--block-color);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 600;
    flex-grow: 1;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: var(--button-color_active);
    }

    .button-text {
        color: var(--block-color);
    }
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    scrollbar-width: none;
}

.skill {
    display: flex;
    gap: 10px;
    width: 100%;
}

.skills_percent {
    box-sizing: border-box;
    background: none;
    border: 1px solid var(--block-color) !important;
    border-radius: 10px;
    min-width: 0;
    flex-grow: 0;
    width: 42px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        cursor: text;
    }
}

.sign_dd {
    width: 100%;
    button {
        box-sizing: border-box;
        width: 100%;
        background: none;
        border: 1px solid var(--block-color);
        border-radius: 10px;
        padding: 10px;
        display: flex;

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        background: var(--background-color);
        border: 1px solid var(--block-color);
        border-radius: 10px;
        margin-top: 10px;
        z-index: 10;

        li {
            padding: 10px;
            &:not(:last-child) {
                border-bottom: 1px solid var(--block-color);
            }
        }
    }
}