:root {
    --text-color: #FFFFFF;
    --button-color: #FFFFFF;
    --button-color_active: #d5cddd;
    --background-color: #0D0812;
    --block-color: #7D6991;
    --progress_bar-color: #FFFFFF;
    --progress_bar_fill-color: #7D6991;

    --social_media-fill: #7D6991;
    --social_media-bg: #7D6991;
}