<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume :: [title]</title>

    <link rel="stylesheet" href="resources/css/vars.css">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="stylesheet" href="resources/css/resume.css">
    <link rel="shortcut icon" href=" " type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="bg">
            <h1 class="name">[name]</h1>
            <p class="experience">Опыт работы: [experience]</p>
        </div>
        <div class="content_container card">
            <img class="avatar" src="config/imgs/avatar.jpeg">
            <div class="content_container card_desc">
                <div class="social_media">[social_media]</div>
            </div>
        </div>
        <div class="user_desc">
            <div class="content_container skills">
                <h2>Навыки</h2>
                [skills]
            </div>
            <div class="content_container about_me">
                <h2>О себе</h2>
                [about_me]
            </div>
            <div class="content_container">
                <h2>Мои проекты</h2>
                [projects]
            </div>
        </div>
    </div>
</body>
</html>