<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume :: [title]</title>

    <link rel="stylesheet" href="resources/css/vars.css">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="stylesheet" href="resources/css/resume.css">
    <link rel="shortcut icon" href=" " type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="bg">
        </div>
        <div class="content_container card">
            <img class="avatar" src="config/imgs/avatar.jpeg">
            <h1 class="name">[name]</h1>
            <p class="experience">[experience]</p>
            [social_media]
        </div>
        <div class="user_desc">
            [content]
        </div>
    </div>
</body>
</html>